body {
	padding-left: 11em;
	padding-right: 11em;
	font-family: Helvetica, CourierNew;
	color: #39364D;
	background-color: white;
}

ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em
}

h1 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif
}

ul.navbar li {
	background: white;
	margin: 0.5em 0;
	padding: 0.3em;
	border-right: 1em solid black
}

ul.navbar a {
	text-decoration: none
}

a:link {
	color: blue
}

a:visited {
	color: purple
}

address {
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted
}

button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.button {
  color: #39364D;
  border: 1px solid #39364D;
  font-weight: bold;
}